.rectangleParent {
  margin-left: -2px;
  align-self: stretch;
  background-color: var(--text-cream);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 152px var(--padding-120) 194px;
  box-sizing: border-box;
  gap: 116px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-82);
  color: var(--text-black);
  font-family: var(--font-golos-text);
}
.frameChild,
.patternIcon {
  position: relative;
  display: none;
  max-width: 100%;
  flex-shrink: 0;
}
.frameChild {
  width: var(--width-1920);
  height: 1176px;
  background-color: var(--bg-cream);
}
.patternIcon {
  width: 2571px;
  height: 1165px;
}
.wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 489px;
  flex-shrink: 0;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: var(--ls--1);
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.logo {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-32) var(--gap-20);
  flex-shrink: 0;
}
.screenshot20260211At1252Wrapper {
  height: 187px;
  width: var(--width-494);
  position: relative;
}
.screenshot20260211At1252 {
  position: absolute;
  height: calc(100% - 25.7px);
  top: 12.9px;
  bottom: 12.8px;
  left: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.screenshot20260211At1252Container {
  height: 178px;
  width: var(--width-494);
  position: relative;
}
.screenshot20260211At12522 {
  position: absolute;
  height: calc(100% - 26.5px);
  top: 13.2px;
  bottom: 13.3px;
  left: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.screenshot20260211At1252Frame {
  height: 192px;
  width: var(--width-494);
  position: relative;
}
.screenshot20260211At12523 {
  position: absolute;
  height: calc(100% - 20.1px);
  top: 10.1px;
  bottom: 10px;
  left: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.screenshot20260211At1253Wrapper {
  height: 194px;
  width: var(--width-494);
  position: relative;
}
.screenshot20260211At1253 {
  position: absolute;
  height: calc(100% - 20.8px);
  top: 10.2px;
  bottom: 10.6px;
  left: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.screenshot20260211At1253Container {
  height: 166px;
  width: var(--width-494);
  position: relative;
}
.screenshot20260211At12524,
.screenshot20260211At12532,
.screenshot20260211At12533 {
  position: absolute;
  height: calc(100% - 13.3px);
  top: 6.6px;
  bottom: 6.7px;
  left: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
.screenshot20260211At12524,
.screenshot20260211At12533 {
  height: calc(100% - 24.1px);
  top: 12px;
  bottom: 12.1px;
}
.screenshot20260211At12524 {
  height: calc(100% - 13.5px);
  top: 6.9px;
  bottom: 6.6px;
}
@media screen and (max-width: 1400px) {
  .rectangleParent {
    gap: 58px;
    padding: 99px var(--padding-60) 126px;
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: 244px;
    padding-right: 244px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .rectangleParent {
    gap: var(--gap-29);
    padding: var(--padding-64) var(--padding-30) 82px;
    box-sizing: border-box;
  }
  .wrapper {
    padding-left: 122px;
    padding-right: 122px;
    box-sizing: border-box;
  }
  .h2 {
    font-size: var(--fs-41);
    line-height: var(--lh-59);
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .h2 {
    font-size: var(--fs-25);
    line-height: var(--lh-39);
  }
}
